body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
}
.accordion {
  width: 100%;
  max-width: 600px;
  margin: 10px;
  border-radius: 5px;
  overflow: hidden;
}

.section {
  border-bottom: 1px solid #ddd;
}

.header {
  background-color: #0cce19;
  color: white;
  padding: 15px;
  cursor: pointer;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s;
}

.header:hover {
  background-color: #0056b3;
}

.ac-icon {
  transition: transform 0.3s ease;
}

.content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  padding: 0 15px;
  background-color: rgb(240, 239, 236);
}

.content p {
  margin: 15px 0;
}

.content.expanded {
  max-height: 200px; /* Adjust based on content */
}
